<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell System</title>
</head>
<body>
    <h1>Sell System</h1>
    <input type="text" placeholder="name" name="name" id="name" required> <br>
    <input type="text" placeholder="Phone number" name="phoneNumber" id="phoneNumber" required> <br>
    <input type="text" placeholder="email" name="email" id="email" required> <br>
    <button id="submitButton">submit</button>

    
    <script>
        let name = document.getElementById("name").value;
        let phoneNumber = document.getElementById("phoneNumber").value;
        let email = document.getElementById("email").value;

        sessionStorage.setItem("name", name);
        sessionStorage.setItem("phoneNumber", phoneNumber);
        sessionStorage.setItem("email", email);//
    </script>
    <script type="text/javascript">
        document.getElementById("submitButton").onclick = function () {
            window.location.href = "http://" + window.location.host + "/submitForm";
        };
    </script>
   
</body>
</html>